package main

import (
	"fmt"
	"github.com/gin-gonic/gin"
)

func main() {
	r := gin.Default()

	r.GET("/", func(c *gin.Context) {
		c.String(200, "Welcome to {{ .ProjectName }} (Gin)!")
	})

	fmt.Println("Starting server on :3000")
	r.Run(":3000")
}
