package main

import (
	"fmt"
	"github.com/gin-gonic/gin"
	"{{ .ModulePath }}/internal/routes"
)

func main() {
	r := gin.Default()
	routes.Register(r)
	fmt.Println("Starting server on :3000")
	r.Run(":8080")
}
