package main

import (
	"fmt"
	"github.com/gofiber/fiber/v2"
	"{{ .ModulePath }}/internal/routes"
)

func main() {
	app := fiber.New()
	routes.Register(app)
	fmt.Println("Starting server on :3000")
	app.Listen(":8080")
}
