package main

import (
	"fmt"
	"github.com/labstack/echo/v4"
	"{{ .ModulePath }}/internal/routes"
)

func main() {
	e := echo.New()
	routes.Register(e)
	fmt.Println("Starting server on :3000")
	e.Start(":8080")
}
