package routes

import (
	"{{ .ModulePath }}/internal/handlers"
{{- if eq .Web "fiber" }}
	"github.com/gofiber/fiber/v2"
{{- else if eq .Web "echo" }}
	"github.com/labstack/echo/v4"
{{- else if eq .Web "gin" }}
	"github.com/gin-gonic/gin"
{{- end }}
)

func Register(app interface{}) {
{{- if eq .Web "fiber" }}
	f := app.(*fiber.App)
	f.Get("/hello", handlers.HelloFiber)
{{- else if eq .Web "echo" }}
	e := app.(*echo.Echo)
	e.GET("/hello", handlers.HelloEcho)
{{- else if eq .Web "gin" }}
	g := app.(*gin.Engine)
	g.GET("/hello", handlers.HelloGin)
{{- end }}
}
